USE [Technology_Shop]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](150) NOT NULL,
	[password] [nvarchar](150) NOT NULL,
	[fullname] [nvarchar](150) NOT NULL,
	[isAdmin] [bit] NULL,
	[email] [nvarchar](250) NULL,
	[phone] [nvarchar](50) NULL,
	[questionId] [nvarchar](50) NOT NULL,
	[cityId] [nvarchar](50) NOT NULL,
	[answer] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [nvarchar](150) NOT NULL,
	[categoryName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[cityId] [nvarchar](50) NOT NULL,
	[cityName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[cityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[username] [nvarchar](150) NOT NULL,
	[productId] [nvarchar](150) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [text] NOT NULL,
	[date] [nvarchar](150) NOT NULL,
	[reply] [int] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[id] [int] NOT NULL,
	[url] [nchar](250) NOT NULL,
	[name] [nchar](250) NOT NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[date] [varchar](150) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[address] [nvarchar](150) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderId] [int] NOT NULL,
	[productId] [nvarchar](150) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productId] [nvarchar](150) NOT NULL,
	[productName] [nvarchar](150) NOT NULL,
	[price] [int] NOT NULL,
	[image] [text] NOT NULL,
	[description] [text] NOT NULL,
	[categoryId] [nvarchar](150) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[questionId] [nvarchar](50) NOT NULL,
	[questionContent] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[questionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[isAdmin] [bit] NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[isAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Feature]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Feature](
	[isAdmin] [bit] NOT NULL,
	[feature_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempOrder]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempOrder](
	[username] [nvarchar](150) NOT NULL,
	[productId] [nvarchar](150) NOT NULL,
	[price] [int] NULL,
	[quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UpdatePrice]    Script Date: 11/29/2023 1:27:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UpdatePrice](
	[productId] [nvarchar](150) NOT NULL,
	[newPrice] [int] NOT NULL,
	[date] [nvarchar](150) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password], [fullname], [isAdmin], [email], [phone], [questionId], [cityId], [answer]) VALUES (N'admin', N'e10adc3949ba59abbe56e057f20f883e', N'BestSeller', 1, N'leha104203@gmail.com', N'092213132', N'123', N'27', N'qaodd')
INSERT [dbo].[Account] ([username], [password], [fullname], [isAdmin], [email], [phone], [questionId], [cityId], [answer]) VALUES (N'admin1', N'e10adc3949ba59abbe56e057f20f883e', N'FirstSeller', 1, NULL, NULL, N'123', N'20', N'a')
INSERT [dbo].[Account] ([username], [password], [fullname], [isAdmin], [email], [phone], [questionId], [cityId], [answer]) VALUES (N'admin2', N'e10adc3949ba59abbe56e057f20f883e', N'SecondSeller', 1, NULL, NULL, N'123', N'20', N'a')
GO
INSERT [dbo].[Category] ([categoryId], [categoryName]) VALUES (N'111', N'Laptop')
INSERT [dbo].[Category] ([categoryId], [categoryName]) VALUES (N'122', N'Electrical measuring device')
INSERT [dbo].[Category] ([categoryId], [categoryName]) VALUES (N'211', N'Tools')
GO
INSERT [dbo].[City] ([cityId], [cityName]) VALUES (N'20', N'Ha Noi')
INSERT [dbo].[City] ([cityId], [cityName]) VALUES (N'27', N'Da Nang')
INSERT [dbo].[City] ([cityId], [cityName]) VALUES (N'34', N'TP. Ho Chi Minh')
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([username], [productId], [id], [content], [date], [reply]) VALUES (N'admin', N'126', 1, N'Good', N'2022-10-16 16:14:50', 0)
INSERT [dbo].[Comment] ([username], [productId], [id], [content], [date], [reply]) VALUES (N'admin', N'126', 2, N'normal', N'2022-10-20 20:32:04', 0)
INSERT [dbo].[Comment] ([username], [productId], [id], [content], [date], [reply]) VALUES (N'customer', N'127', 3, N'so expensive', N'2022-10-20 20:32:33', 0)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
INSERT [dbo].[Feature] ([id], [url], [name]) VALUES (1, N'/admin/order                                                                                                                                                                                                                                              ', N'admin                                                                                                                                                                                                                                                     ')
INSERT [dbo].[Feature] ([id], [url], [name]) VALUES (2, N'/manage                                                                                                                                                                                                                                                   ', N'manage                                                                                                                                                                                                                                                    ')
INSERT [dbo].[Feature] ([id], [url], [name]) VALUES (3, N'/home                                                                                                                                                                                                                                                     ', N'home                                                                                                                                                                                                                                                      ')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderId], [username], [date], [phone], [email], [address], [status]) VALUES (20, N'admin', N'2023-10-16 16:14:50', N'123415415', N'leha104203@gmail.com', N'Nha Trang', 1)
INSERT [dbo].[Order] ([orderId], [username], [date], [phone], [email], [address], [status]) VALUES (22, N'admin', N'2023-07-16 21:56:52', N'123123123', N'leha104203@gmail.com', N'Huế', 1)
INSERT [dbo].[Order] ([orderId], [username], [date], [phone], [email], [address], [status]) VALUES (24, N'admin', N'2023-05-17 14:06:22', N'0332526273', N'leha104203@gmail.com', N'Hạ Long Bay', 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetail] ([orderId], [productId], [quantity], [price]) VALUES (32, N'130', 4, 309)
INSERT [dbo].[OrderDetail] ([orderId], [productId], [quantity], [price]) VALUES (33, N'130', 3, 309)
INSERT [dbo].[OrderDetail] ([orderId], [productId], [quantity], [price]) VALUES (33, N'882', 3, 232)
GO
INSERT [dbo].[Product] ([productId], [productName], [price], [image], [description], [categoryId], [quantity]) VALUES (N'100', N'USB OTG Micro USB to Type C charger adapter', 22, N'https://nshopvn.com/wp-content/uploads/2022/10/dau-chuyen-doi-cong-sac-truyen-du-lieu-otg-type-c-sang-micro-usb-x7vd-lkre-1-100x100.jpg', N'Micro USB to Type C . Adapter
– Support OTG
Shell material: ABS plastic
– Weight: ~2g
– Overall dimensions: 27 x 11.5 x 6mm (length x width x thickness)', N'232', 3273)
INSERT [dbo].[Product] ([productId], [productName], [price], [image], [description], [categoryId], [quantity]) VALUES (N'107', N'Laptop Lenovo Ideapad Gaming 3', 6000, N'https://images.fpt.shop/unsafe/fit-in/240x215/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/8/15/637961542143431053_lenovo-ideapad-gaming-3-15arh7-r7-xam-dd.jpg', N'15.6 inch, 1920 x 1080 Pixels, IPS, 120, 250 nits, Anti - Glare

AMD, Ryzen 5, 7535HS

8 GB (1 thanh 8 GB), DDR5, 4800 MHz

SSD 512 GB

NVIDIA GeForce RTX 4050 6GB GDDR6', N'111', 20)
INSERT [dbo].[Product] ([productId], [productName], [price], [image], [description], [categoryId], [quantity]) VALUES (N'113', N'3.5mm audio jack to 6.35mm . jack converter', 13, N'https://nshopvn.com/wp-content/uploads/2021/06/dau-chuyen-doi-jack-am-thanh-3-5mm-sang-jack-6-35mm-1roz-5-100x100.jpg', N'Purpose: Convert male 3.5 mm head to male 6.35 mm head
– Type: Straight
– Material: Plastic + Metal
– Color: Gold', N'211', 146)
GO
INSERT [dbo].[Question] ([questionId], [questionContent]) VALUES (N'123', N'What is your favorite game?')
INSERT [dbo].[Question] ([questionId], [questionContent]) VALUES (N'203', N'What is your hobby?')
INSERT [dbo].[Question] ([questionId], [questionContent]) VALUES (N'254', N'What is your name when you were child?')
GO
INSERT [dbo].[Role] ([isAdmin], [role_name]) VALUES (0, N'User')
INSERT [dbo].[Role] ([isAdmin], [role_name]) VALUES (1, N'Admin')
GO
INSERT [dbo].[Role_Feature] ([isAdmin], [feature_id]) VALUES (1, 1)
INSERT [dbo].[Role_Feature] ([isAdmin], [feature_id]) VALUES (1, 2)
INSERT [dbo].[Role_Feature] ([isAdmin], [feature_id]) VALUES (0, 3)
GO
INSERT [dbo].[TempOrder] ([username], [productId], [price], [quantity]) VALUES (N'lebaha111', N'118', 18, 1)
INSERT [dbo].[TempOrder] ([username], [productId], [price], [quantity]) VALUES (N'customer1', N'113', 13, 1)
INSERT [dbo].[TempOrder] ([username], [productId], [price], [quantity]) VALUES (N'customer1', N'115', 14, 1)
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_City] FOREIGN KEY([cityId])
REFERENCES [dbo].[City] ([cityId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_City]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([isAdmin])
REFERENCES [dbo].[Role] ([isAdmin])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Account]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Feature1] FOREIGN KEY([feature_id])
REFERENCES [dbo].[Feature] ([id])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Feature1]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Role] FOREIGN KEY([isAdmin])
REFERENCES [dbo].[Role] ([isAdmin])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Role]
GO
ALTER TABLE [dbo].[TempOrder]  WITH CHECK ADD  CONSTRAINT [FK_TempOrder_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[TempOrder] CHECK CONSTRAINT [FK_TempOrder_Account]
GO
ALTER TABLE [dbo].[TempOrder]  WITH CHECK ADD  CONSTRAINT [FK_TempOrder_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[TempOrder] CHECK CONSTRAINT [FK_TempOrder_Product]
GO
ALTER TABLE [dbo].[UpdatePrice]  WITH CHECK ADD  CONSTRAINT [FK_UpdatePrice_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[UpdatePrice] CHECK CONSTRAINT [FK_UpdatePrice_Product]
GO
